[main]
vardir = '/opt/puppetlabs/puppet/cache'
logdir = '/var/log/puppetlabs/puppet'
rundir = '/var/run/puppetlabs'
ssldir = '/etc/puppetlabs/puppet/ssl'

[agent]
pluginsync      = true
report          = true
ignoreschedules = true
ca_server       = '{{ satellite_fqdn }}'
certname        = '{{ ansible_fqdn }}'
environment     = 'KT_ORGANISATION_{% if inventory_hostname in groups['PROD'] %}PROD{% elif inventory_hostname in groups['DEV'] %}DEV{% else %}TEST{% endif %}_CCV_01_7'
server          = 'satellite.example.com'

